@page "/home"
@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.Buttons
@using HPCFodmapProject.Client.HttpRepository;
@using Syncfusion.Blazor.Popups
@using HPCFodmapProject.Shared;
@using Syncfusion.Blazor.Navigations
@using HPCFodmapProject.Shared
@using Syncfusion.Blazor.Notifications
@using Syncfusion.Blazor.Inputs


<PageTitle>Home</PageTitle>

<h1 style="text-align: center">Gut Guardian</h1>

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <SfGrid @ref="Grid"
            DataSource="@foodDiary" 
            TValue="IntakeDto" 
            AllowPaging="true" 
            AllowSorting="true" 
            Height="500"
            Toolbar=@(new List<object>() {
                new ItemModel() {Text = "Delete", PrefixIcon="e.delete", Id="DeleteEntry"}})>
            <GridEvents
                TValue="IntakeDto" 
                OnRecordDoubleClick="UserDoubleClickHandler"
                RowSelected="UserRowSelectedHandler"
            OnToolbarClick="ToolbarClickHandler">

            </GridEvents>
                <GridColumns>

                    <GridColumn HeaderText="Food Intake" Field="Food" TextAlign="TextAlign.Left" Width="300"></GridColumn>
                  
                    <GridColumn HeaderText="Notes" Field="notes" TextAlign="TextAlign.Left" Width="300"></GridColumn>
                    <GridColumn HeaderText="Date" Field="date" TextAlign="TextAlign.Left" Width="300"></GridColumn>
                </GridColumns>
            </SfGrid>
        </div>
    </div>
</div>
<!--For user to add food entries and notes-->
<div class='e-input-group'>
    
     <SfButton  CssClass="e-info" @onclick="@(e=> getUserInputForEntry(@food, @notes))">Add</SfButton>
    <input class='e-input' @bind-value="@food" @bind-value:event="oninput" Placeholder='Food' type='text'>
   <input class='e-input' @bind-value="@notes" @bind-value:event="oninput" Placeholder='Notes' type='text'>
</div>

<!--THE CHAT BOT-->
<iframe src="https://copilotstudio.microsoft.com/environments/Default-5011c7c6-0ab4-46ab-9ef4-fae74a921a7f/bots/crad4_capstoneProjectBot/webchat?__version__=2"
frameborder="0" style="width: 1000px; height: 400px; margin: 0 auto; display: block;"></iframe>


<!--MODOL FOR INGREDIENTS POP UP FUNCTIONALITY-->
<SfDialog Width="800px" Height="600px" IsModal="true" @bind-Visible="@IsUserModalVisible">
   <DialogButtons>
                <DialogButton Content="CLOSE" IsPrimary="true" OnClick="@closeIngredientsPopUp" />
            </DialogButtons>
    <DialogTemplates>
        <Header>Food's Ingredients</Header>
        <Content>
                       <SfGrid  DataSource="selectedFoodIngredients" AllowPaging="true" AllowSorting="true" Height="500">
                <GridColumns>
                    <GridColumn HeaderText="Ingredient Name" Field="IngredientsName" TextAlign="TextAlign.Left" Width="300"></GridColumn>
                    <GridColumn HeaderText="Is it harmful?" Field="harmful" TextAlign="TextAlign.Left" Width="120"></GridColumn>
                       <GridColumn HeaderText="Whitelist" TextAlign="TextAlign.Right" Width="75">
                        <Template>
                            @{
                                var whitelistIng = context as HPCFodmapProject.Shared.IngredientsDto;
                                <SfCheckBox TChecked="bool" @onchange="eventArgs => {
                                    ToggleWhitelist(eventArgs, whitelistIng.IngredientsName);
                                }"></SfCheckBox>
                                
                            }
                        </Template>
                    </GridColumn>
                   <GridColumn HeaderText="Flag" TextAlign="TextAlign.Right" Width="75">
                        <Template>
                            @{
                                var flaggedIng = context as HPCFodmapProject.Shared.IngredientsDto;
                                <SfCheckBox TChecked="bool" @onchange="eventArgs => {
                                    ToggleFlagged(eventArgs, flaggedIng.IngredientsName);
                                }"></SfCheckBox>
                            }
                        </Template>
                    </GridColumn>
                </GridColumns>
            </SfGrid>
        </Content>
    </DialogTemplates>
</SfDialog>

<!--Adding toast for error messages-->
<SfToast @ref="ToastObj"
         Content="@toastContent"
         ShowCloseButton="true"
         ShowProgressBar="true"
         CssClass="@toastSuccess"
         Timeout="3000">
    <ToastPosition X="Center" Y="Top"></ToastPosition>
</SfToast>


@code {
    private SfGrid<HPCFodmapProject.Shared.IntakeDto> Grid;
}
